
* {
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    text-align: center;
    background-color: white;

    header {
        text-align: left;
        float: left;
        width: 100%;
        margin: 0px;
        padding: 0px;
        height: 200px;
        background-image: url('../img/background.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: right center; 
    }

    .navbar {

        text-align: left;
        float: left;
        width: 100%;
        margin: 0px;
        padding: 0px;
        height: 50px;
        background-color: rgb(119, 215, 187);
        border-top: 1px solid white;

        nav {

            display: inline-block;
            position: relative;
            float: right;
            margin-right: 1%;

            ul {
                display: inline-block;
                position: relative;
                float: right;
                background-color: rgb(119, 215, 187);
                width: 100px;
                height: 50px;
                margin: 0px;

                li {
                    display: block;
                    position: relative;
                    float: left;
                    text-align: left;
                    width: 50px;
                    height: 50px;
                    margin: 0px;
                    padding: 0px;
                    background-color: rgb(119, 215, 187);
             
                    &:hover,
                    &:active {
                            cursor: pointer;
                            border-bottom: 3px solid rgb(119, 215, 187);
                    }
                }

                .about_icon {
                    background-image: url('../img/icon1.jpg');
                }

                .gallery_icon {
                    background-image: url('../img/icon2.jpg');
                }
            }
        }


    
        img {
            display: inline-block;
            position: relative;
			content: url("../img/menri.jpg");
            top: -80px;
            left: 4%;
            max-width: 100%; 
            border-radius: 50%;
            border: solid 5px rgba(255, 255, 255, .5);
            transition: .15s;

            &:hover,
            &:active {
                 cursor: move;
            }
        }
    }


    .gallery {
        box-sizing: border-box;
        float: left;
        width: 100%;
        padding-left: 4%;
        padding-right: 4%;
        background-color: white;
        margin-top: 50px;
        height: 550px;

        img {
            margin: 10px;
        }
    }


    .info {
        box-sizing: border-box;
        text-align: left;
        float: left;
        height: 550px;
        width: 100%;
        background-color: white;
        margin-top: 50px;
        margin: 0px;
        padding: 0px;
        padding-top: 40px;
        padding-left: 5%;
    }


    blockquote {

        display:block;
        background: #fff;
        padding: 15px 20px 15px 45px;
        margin: 0 0 20px;
        position: relative;
  
        font-family: Georgia, serif;
        font-size: 16px;
        line-height: 1.2;
        color: #666;
        text-align: justify;
  
        border-left: 15px solid rgb(119, 215, 187);
        border-right: 2px solid rgb(119, 215, 187);
  
        -moz-box-shadow: 2px 2px 15px #ccc;
        -webkit-box-shadow: 2px 2px 15px #ccc;
        box-shadow: 2px 2px 15px #ccc;

        margin-top: 10px;
        width: 70%;

        &::before {
            content: "\201C"; /*Unicode for Left Double Quote*/
  
            font-family: Georgia, serif;
            font-size: 60px;
            font-weight: bold;
            color: #999;
  
            position: absolute;
            left: 10px;
            top:5px;
        }


        ::after{
            content: "";
        }

        a {
            text-decoration: none;
            background: #eee;
            cursor: pointer;
            padding: 0 3px;
            color: #c76c0c;

            &:hover {
                color: #666;
            }
        }

        em {
        font-style: italic;
        }
    }

}
